<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <script type="text/javascript">
            $(document).ready(function(){

                $('.addid').html('');
                var d = new Date();
                var time = d.setDate(d.getDate()-1);
                
                var url = window.location.pathname.split("/");
                var pathurl = url[2];

                $('.datepick').datetimepicker({format:'DD.MM.YYYY', minDate: time});
                $('.timepick').datetimepicker({format:'HH:mm'});
                
                
                $('#HerausforderungAnlegen').submit(function(e){
                    e.preventDefault();
                    
                    // Wenn vor via AJAX eine Herausforderung angelegt wurde, ersetze den Link durch den Link auf die neue Herausforderung
                    $('.addid').html('');
                    
                    var teilnehmer1 = "/Benutzer/"+pathurl;
                    var teilnehmer2 = $('#user1').val();
                    var datum = $('#datum').val();
                    var text = $('#HerausforderungsText').val();
                    var austragungsort = $('#ato').val();
                    
                     if(!(datum && text)) {
                        alert('Bitte Datum und Text spezifizieren.');
                        return false;
                    }

                    if(austragungsort == '0') {
                        alert('Bitte Austragungsort spezifizieren.');
                        return false;
                    }
                    
                    if(teilnehmer2 == '0') {
                        alert('Bitte Teilnehmer spezifizieren.');
                        return false;
                    }
                    
                    var formData = {
                        
                        Datum : datum,
                        Herausgeforderter: teilnehmer1,
                        Herausforderer: teilnehmer2,
                        Austragungsort: austragungsort,
                        Kurztext: text,
                        
                    }
                    
                    var uri = "/Benutzer/"+pathurl+"/Herausforderung";
                    
                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json',
                        url:uri,
                        data: JSON.stringify(formData),
                        success: function(data){
                            
                             $('#HerausforderungAnlegen').each(function() {
                                this.reset();
                            });
                            
                              $('.addid').append('<a href="/Benutzer/'+pathurl+'/Herausforderung/'+data.id+'">Herausforderung '+data.id+' verschickt</a>.');
                        },
                        statusCode:{
                        
                        },
                        fail:function(){
                            
                        }
                    });
                 
            });
        });
        </script>
    </head>

    <body class="container">
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <div class="row">
                <div class="col-sm-12">

                    <div class="jumbotron">
                     
                        <h1>Add Herausforderung</h1>

                                <div class="row">
                            <div class="col-md-6">
                                <form role="form" action="" name="HerausforderungAnlegen" id="HerausforderungAnlegen">

                                    <div class="form-group">
                                        <label for="teilnehmer">Benutzer der fordert:</label> <br>

                                        <select id="user1" class="form-control">
                                            <option value="0">Bitte wählen</option>
                                            <% benutzerAll.forEach(function(benutzer) { %>
                                            <option value="/Benutzer/<%= benutzer.id %>"><%= benutzer.Name %></option>
                                            <% });  %>
                                        </select>
                                    </div>
                                    
                                     <div class="form-group">
                                        <label for="austragungsort">Austragungsort:</label> <br>
                                         <select id="ato" class="form-control">
                                            <option value="0">Bitte wählen</option>
                                            <% austragungsorte.forEach(function(austragungsort) { %>
                                            <option class="austragungsort" value="/Austragungsort/<%= austragungsort.id %>">
                                        <%= austragungsort.Name %> 
                                                <% ortTischMapping.forEach(function(map) { 
                                                if(map.Ort == austragungsort.Name) { %> 
                                                (<%= map.Tische %> Kickertische)
                                                <%} }); %>
                                             </option>
                                            <% }); %>
                                        </select>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="datum">Datum:</label> <br>
                                        <div class="row">
                                            <div class='col-sm-12'>
                                                <input type='text' id="datum" placeholder="Datum" class="form-control datepick" />
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="name">Herausforderungs Text:</label> <br>
                                        <input type="text" id="HerausforderungsText" class="form-control" placeholder="Name" maxlength="100" />
                                    </div>

                                    <input type="submit" class="btn btn-primary" name="send" value="Absenden" />

                                </form>
                            </div>
                        </div>
                        <br />
                        <p class="addid"></p>
                    </div>

                </div>

            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>