<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <script>
            $(document).ready(function() {

                 $('#delOrt').prop('disabled', true);
                // Baue die URL auf alle Kickertische aus der aktuellen URL
                var loc = window.location.pathname+"/Kickertisch";

                // Setze den Button für alle Kickertische auf die obige URL
                $('#alltables').attr('href',loc); 

                // Austragungsort löschen
                $('#deleteAustragungsort').submit(function(e) {
                    e.preventDefault();

                    if (confirm('Möchten Sie fortfahren?') == false) {
                        return false;
                    }
                    $.ajax({
                        type: 'DELETE',
                        contentType: 'application/json',
                        success: function(data) {
                            alert('Austragungsort gelöscht. Weiterleitung zu allen Austragungsorten.');
                            location.href = "/Austragungsort/alleaustragungsorte"

                        },
                        fail: function() {
                            alert('Fehler');
                        }

                    });
                });

                // Anlegen eines Kickertisches
                $('#kickertischAnlegen').submit(function(e) {
                    e.preventDefault();

                    // Wenn vor via AJAX ein Kickertisch angelegt wurde, ersetze den Link durch den Link auf den neuen Kickertisch
                    $('.addid').html('');

                    var hersteller = $('#hersteller').val();
                    var typ = $('#typ').val();
                    var merkmale = $('#merkmale').val();
                    var zustand = $('#zustand').val();

                    if(!(hersteller && typ && merkmale)) {
                        alert('Bitte Felder ausfüllen');
                        return false;
                    }

                    // Wenn kein Zustand des Kickertisches angegeben, verwende "Neu"
                    if(!zustand) {
                        zustand = 'Neu';
                    }

                    var formData = {
                        Hersteller : hersteller,
                        Typ : typ,
                        Zustand : zustand,
                        Merkmale : merkmale }

                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json',
                        url: '/Austragungsort/<%= austragungsort.id %>/Kickertisch/',

                        data: JSON.stringify(formData),
                        success: function(data) {

                        $('#kickertischAnlegen').each(function() {
                        this.reset();
                    });

                    $('.addid').append('<a href="/Austragungsort/<%= austragungsort.id %>/Kickertisch/'+data.id+'">Kickertisch '+data.id+' angelegt</a>.' );

                                       },
                                       statusCode: {
                                       400: function() {
                        alert('Die Anfrage war nicht korrekt.');
                    }
                },
                                                fail: function() {
                    alert('Fehler');
                }

            });

            });

            // Ändere Daten eines Austragungsortes
            $('#changeData').submit(function(e) {
                e.preventDefault();

                var austragungsortname = $('#austragungsortname').val();
                var austragungsortadresse = $('#austragungsortadresse').val();
                var austragungsortbeschreibung = $('#austragungsortbeschreibung').val();

                if(!(austragungsortname && austragungsortadresse && austragungsortbeschreibung)) {
                    alert('Bitte Daten spezifizieren.');
                    return false;
                }



                var formData = {Name: austragungsortname,
                                Adresse: austragungsortadresse,
                                Beschreibung: austragungsortbeschreibung
                               };


                $.ajax({
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function(data) {

                        $('#changeData').each(function() {
                            this.reset();
                        });

                        alert('Daten erfolgreich geändert.');

                        $("#newName").text(data.Name);
                        $("#newAddress").text(data.Adresse);
                        $("#newDesc").text(data.Beschreibung);


                    },
                    fail: function() {
                        alert('Fehler');
                    }

                });
            });

            });

        </script>
    </head>


    <body class="container">
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <div class="row">
                <div class="col-sm-12">

                    <div class="jumbotron">
                        <h1>Austragungsort <span id="newName"><%= austragungsort.Name %></span></h1>
                        <br />
                        <ul>
                            <li>Adresse: <span id="newAddress"><%= austragungsort.Adresse %></span></li>
                            <li>Beschreibung: <span id="newDesc"><%= austragungsort.Beschreibung %></span></li>
                        </ul> 
                        <br />
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <a href="" id="alltables" class="btn btn-default" role="button">Alle Tische dieses Ortes anzeigen</a>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <p>Tisch hinzufügen</p>
                                <form role="form" action="" method="POST" name="kickertischAnlegen" id="kickertischAnlegen">
                                    <div class="form-group">
                                        <label for="hersteller">Hersteller:</label> <br>
                                        <input type="text" id="hersteller" class="form-control" placeholder="Hersteller" maxlength="100" />
                                    </div>
                                    <div class="form-group">
                                        <label for="typ">Typ:</label> <br>
                                        <input type="text" id="typ" class="form-control" placeholder="Typ" maxlength="100" />
                                    </div>
                                    <div class="form-group">
                                        <label for="Merkmale">Merkmale:</label> <br>
                                        <input type="text" id="merkmale" class="form-control" placeholder="Merkmale" maxlength="100" />
                                    </div>
                                    <div class="form-group">
                                        <label for="Zustand">Zustand (optional):</label> <br>
                                        <input type="text" id="zustand" class="form-control" placeholder="Optionale Angabe des Zustands. Standard: Neu" maxlength="100" />
                                    </div>
                                    <input type="submit" class="btn btn-primary" name="send" value="Tisch hinzufügen" />

                                </form> 
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <p class="addid"></p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <p>Daten des Austragungsortes ändern</p>
                                <form role="form" action="" method="PUT" name="changeData" id="changeData">

                                    <div class="form-group"><label for="austragungsortname">Name:</label><input type="text" id="austragungsortname" class="form-control" name="austragungsortname"></div>
                                    <div class="form-group"><label for="austragungsortadresse">Adresse:</label><input type="text" id="austragungsortadresse" class="form-control"></div>
                                    <div class="form-group"><label for="austragungsortbeschreibung">Beschreibung:</label><input type="text" id="austragungsortbeschreibung" class="form-control"></div>
                                    <input type="submit" class="btn btn-primary" name="change" value="Ändern" />
                                </form>
                            </div>
                        </div>


                        <hr />


                        <div class="row">
                            <div class="col-md-6">
                                <form role="form" action="" method="DELETE" name="deleteAustragungsort" id="deleteAustragungsort">
                                    <input type="submit" class="btn btn-danger" id="delOrt" value="Austragungsort löschen" />
                                </form> 
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>