<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <script>
            $(document).ready(function() {
                
                // Benutzer löschen
                $('#deleteUser').submit(function(e) {
                    e.preventDefault();

                if (confirm('Möchten Sie fortfahren?') == false) {
                        return false;
                }
                    
                    $.ajax({
                        type: 'DELETE',
                        success: function(data) {
                            alert('Benutzer gelöscht. Weiterleitung zu allen Benutzern.');
                            location.href = "/Benutzer/allebenutzer"

                        },
                        fail: function() {
                            alert('Fehler');
                        }

                    });
                });

                // Daten eines Benutzers ändern
                $('#changeData').submit(function(e) {
                    e.preventDefault();

                    var benutzername = $('#benutzername').val();
                    var alter = $('#alter').val();


                    if(!(benutzername && alter)) {
                        alert('Bitte Daten spezifizieren.');
                        return false;
                    }

                    var formData = {Name: benutzername,
                                    Alter: alter,
                                   };

                    $.ajax({
                        type: 'PUT',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function(data) {

                            $('#changeData').each(function() {
                                this.reset();
                            });

                            alert('Daten erfolgreich geändert.');

                            $("#newName").text(data.Name);
                            $("#newAge").text(data.Alter);

                        },
                        fail: function() {
                            alert('Fehler');
                        }

                    });
                });

            })
        </script>
    </head>

    <body class="container">
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <div class="row">
                <div class="col-sm-12">

                    <div class="jumbotron">
                        <h1>Benutzer <span id="newName"><%= benutzer.Name %></span></h1>
                        <br />
                        <ul>
                            <li>Alter: <span id="newAge"><%= benutzer.Alter %></span></li>
                        </ul> 
                       <hr />
                        <h2>Anstehende Matches</h2>
                          <div class="list-group">
                              
        <% matches.forEach(function(match) {  %>

       <% if((match.Teilnehmer[0].Team1.Teilnehmer1 == '/Benutzer/'+benutzer.id || match.Teilnehmer[0].Team1.Teilnehmer2 == '/Benutzer/'+benutzer.id || match.Teilnehmer[0].Team2.Teilnehmer1 == '/Benutzer/'+benutzer.id || match.Teilnehmer[0].Team2.Teilnehmer2 == '/Benutzer/'+benutzer.id) && match.Status == 'vor_beginn') {
    %> 
	  <a href="/Match/<%= match.id %>" class="list-group-item"> <h4 class="list-group-item-heading"><%= match.Datum %></h4>
	   <p class="list-group-item-text">Uhrzeit: <%= match.Uhrzeit %></p>
           <p class="list-group-item-text">Austragungsort: <% austragungsorte.forEach(function(ort) { %>
                                <% if("/Austragungsort/"+ort.id == match.Austragungsort) { %><%= ort.Name %><% } }); %></p>
	    </a>
   <% } }); %>                              
</div>
                        <hr />
                         <div class="row">
                            <div class="col-md-6">
                                <a href="/Benutzer/<%= benutzer.id%>/alleHerausforderungen" id="alltables" class="btn btn-default" role="button">Alle Herausforderungen anzeigen</a>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/Benutzer/<%= benutzer.id %>/addHerausforderung" class="btn btn-success" role="button">Benutzer herausfordern</a>
                            </div>
                        </div>
                        <hr />
                        <p> Benutzer ändern: </p>
                        <div class="row">
                            <div class="col-md-6">

                            <form role="form" action="" method="PUT" name="changeData" id="changeData">

                                <div class="form-group"><label for="benutzername">Name:</label><input type="text" id="benutzername" class="form-control" name="benutzername"></div>
                                <div class="form-group"><label for="alter">Alter:</label><input type="text" id="alter" class="form-control" name="alter"></div>
                                <input type="submit" class="btn btn-primary" name="change" value="Ändern" /></form>
                        </div>
                        </div>
                        <br />
                        <hr />

                        <form role="form" action="" method="DELETE" name="deleteUser" id="deleteUser">
                            <input type="submit" class="btn btn-danger" name="del" value="Benutzer löschen" />
                        </form>
                    </div>

                </div>

            </div>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>