<div class="col-md-12">   
<!--Anzeige für die Ligatabelle-->
    <table class="table">
        <thead>
            <tr>
                <th>Team</th>
                <th>Punkte</th>
            </tr>
        </thead>
        
        <% if(ligatabelle) { %>
        
        <!--Check ob es sich um ein zwei Spieler Turnier handelt -->
        <% if (ligatabelle.Teams[0].Team.hasOwnProperty('Teilnehmer2')) { %>
        
        <tbody id="ligatabelle">
            <% for(var i=0; i < ligatabelle.Teams.length ; i++) { %>
            <tr>
                <td><%= ligatabelle.Teams[i].teamName %>: <a href="<%= ligatabelle.Teams[i].Team.Teilnehmer1 %>"><% benutzerAll.forEach(function(benutzer) { %><% if("/Benutzer/"+benutzer.id == ligatabelle.Teams[i].Team.Teilnehmer1) { %><%= benutzer.Name%><% } }); %></a> , <a href="<%= ligatabelle.Teams[i].Team.Teilnehmer2 %>"><% benutzerAll.forEach(function(benutzer) { %><% if("/Benutzer/"+benutzer.id == ligatabelle.Teams[i].Team.Teilnehmer2) { %><%= benutzer.Name%><% } }); %></a></td>
                <td><%= ligatabelle.Teams[i].Punkte %></td>
            </tr>
            <% }; %>
        </tbody>
        
        <!--Jedes Team hat einen Spieler-->
        <% } else { %>
        
        <tbody id="ligatabelle">
            <% for(var i=0; i < ligatabelle.Teams.length ; i++) { %>
            <tr>
                <td><%= ligatabelle.Teams[i].teamName %>:  <a href="<%= ligatabelle.Teams[i].Team.Teilnehmer1%>"><% benutzerAll.forEach(function(benutzer) { %><% if("/Benutzer/"+benutzer.id == ligatabelle.Teams[i].Team.Teilnehmer1) { %><%= benutzer.Name%><% } }); %></a></td>
                <td><%= ligatabelle.Teams[i].Punkte %></td>
            </tr>
            <% }; %>
        </tbody>
        <% } %>
        
        <% } %>
    </table>
</div>