<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>

    <body class="container">
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <div class="row">
                <div class="col-sm-12">

                    <div class="jumbotron">
                        <h1>Herausforderung <%= HerausforderungDaten.id %></h1>
                        <br />
                        <ul>
                            <p class="list-group-item-text">Herausgeforderter:
                            <% benutzerAll.forEach(function(benutzer) { %>
                            <% if("/Benutzer/"+benutzer.id == HerausforderungDaten.Herausgeforderter) { %><%= benutzer.Name %><% } }); %></p>
                            <p class="list-group-item-text">Herausforderer: 
                             <% benutzerAll.forEach(function(benutzer) { %>
                            <% if("/Benutzer/"+benutzer.id == HerausforderungDaten.Herausforderer) { %><%= benutzer.Name %><% } }); %></p>
                            <p class="list-group-item-text">Datum: <%= HerausforderungDaten.Datum %></p>
                            <p class="list-group-item-text">Austragungsort: <%= HerausforderungDaten.Austragungsort %></p>
                            <p class="list-group-item-text">Text: <%= HerausforderungDaten.Kurztext %></p>

                        </ul> 
                        <br />
                        <hr />
                    </div>
                </div>

            </div>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>