<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <script>
            $(document).ready(function() {

                // Kickertisch löschen
                $('#deleteTable').submit(function(e) {
                    e.preventDefault();

                    if (confirm('Möchten Sie fortfahren?') == false) {
                        return false;
                    }
                    $.ajax({
                        type: 'DELETE',
                        url: '',
                        contentType: 'application/json',
                        success: function(data) {
                            alert('Tisch gelöscht. Weiterleitung zum Standort.');
                            location.href = "/Austragungsort/<%= ort.id %>"


                        },
                        fail: function() {
                            alert('Fehler');
                        }

                    });
                });

                // Daten eines Kickertisches ändern
                $('#changeData').submit(function(e) {
                    e.preventDefault();

                    var zustand = $('#zustand').val();


                    if(!(zustand)) {
                        alert('Bitte Daten spezifizieren.');
                        return false;
                    }

                    var formData = {Zustand: zustand
                                   };


                    $.ajax({
                        type: 'PUT',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function(data) {

                            $('#changeData').each(function() {
                                this.reset();
                            });

                            alert('Zustand erfolgreich geändert.');

                            $("#zus").text('Zustand: '+data.Zustand);


                        },
                        fail: function() {
                            alert('Fehler');
                        }

                    });
                });
                
                // Einen Tisch fordern
                 $('#tischFordern').submit(function(e) {
                    e.preventDefault();

                    var benutzer = $('#benutzer').val();


                    if(benutzer == '0') {
                        alert('Bitte Benutzer spezifizieren.');
                        return false;
                    }

                    var formData = {Benutzer: benutzer
                                   };


                    $.ajax({
                        type: 'POST',
                        url: '/Austragungsort/<%= ort.id %>/Kickertisch/<%= tisch.id %>/Forderung',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function(data) {

                            window.location.reload(true);
                        
                        },
                        statusCode: {
                            409: function(){
                                alert('Keine Belegung vorhanden, Forderung bereits gesendet oder Teil der Belegung des Tisches');
                            }
                        },
                        fail: function() {
                            alert('Fehler');
                        }

                    });
                });
            });
        </script>
    </head>

    <body class="container">
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <div class="row">
                <div class="col-sm-12">

                    <div class="jumbotron">
                        <h1>Kickertisch <%= tisch.id %></h1>
                        <br />
                        <ul>
                            <li>Hersteller: <%= tisch.Hersteller %></li>
                            <li>Typ: <%= tisch.Typ %></li>
                            <li>Ort: <a href="/Austragungsort/<%= ort.id %>"><%= ort.Name %></a></li>
                            <li>Merkmale: <%= tisch.Merkmale %></li>
                            <li id="zus">Zustand: <%= tisch.Zustand %></li>

                        </ul> 
                        <hr />
                        <p> Belegung: <%= belegung.Anzahl %> Spieler</p>
                            <% if(belegung.Anzahl > 0) { %>
                        <p>Namen der Spieler an diesem Tisch:</p>
                        <ul>
                        <% for(var i=0;i<belegung.Teilnehmer.length;i++) { %>
                            <% benutzerAll.forEach(function(benutzer) { %>
                               <% if('/Benutzer/'+benutzer.id == belegung.Teilnehmer[i]) { %>
                            <li><a href="/Benutzer/<%= benutzer.id %>"><%= benutzer.Name %></a></li>
                            <% } }); } %>
                        </ul>
                        <% } %>
                     <hr />
                        <p>Forderungen: <%= belegung.Forderungen.length %></p>
                        <% if(belegung.Forderungen.length > 0) { %>
                  <p>Spieler die gefordert haben:</p>
                    <ul>
                                <% for(var i=0; i < belegung.Forderungen.length; i++) { %>
                         <% benutzerAll.forEach(function(benutzer) { %>
                               <% if("/Benutzer/"+benutzer.id == belegung.Forderungen[i].Benutzer) { %>
                        <li id="forderer"><a href="<%= belegung.Forderungen[i].Benutzer %>"><%= benutzer.Name %></a></li>
                               <% }; }); }; %>
                        </ul>
                        <% } %>
<hr />
                        <p>Diesen Tisch fordern: </p>
                          <div class="row">
                              <div class="col-md-6">

                           <form role="form" action="" method="POST" name="tischFordern" id="tischFordern">
                               <div class="form-group">
                                   <label for="benutzer">Benutzer der fordert:</label><br>

                                <select id="benutzer" class="form-control">
                                    <option value="0">Bitte wählen</option>
                                    <% benutzerAll.forEach(function(benutzer) { %>
                                    <option value="/Benutzer/<%= benutzer.id %>"><%= benutzer.Name %></option>
                                    <% });  %>
                                </select>
                                </div>
                                <input type="submit" class="btn btn-primary" name="send" value="Fordern" />
                                  </form>
                              </div>
                        </div>
                        <hr />
                        
                        <p> Kickertisch ändern: </p>
                        <div class="row">
                            <div class="col-md-6">

                                <form role="form" action="" method="PUT" name="changeData" id="changeData">

                                    <div class="form-group"><label for="zustand">Zustand:</label><input type="text" id="zustand" class="form-control" name="zustand"></div>
                                    <input type="submit" class="btn btn-primary" name="change" value="Ändern" /></form>
                            </div>
                        </div>
                        <br />
                        <hr />

                        <form role="form" action="" method="DELETE" name="deleteTable" id="deleteTable">
                            <input type="submit" class="btn btn-danger" name="del" value="Tisch löschen" />
                        </form>

                        <hr />

                    </div>

                </div>

            </div>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>