<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<script>
$(document).ready(function() {

	
		 var d = new Date();
				var time = d.setDate(d.getDate()-1);
				
				var stdStatus = 'vor_beginn';
				
				 var ortURI = "<%= match.Austragungsort %>".split("/");
				 var ort = "/"+ortURI[1]+"/"+ortURI[2];
				 $('#tis').append('<a href="'+ort+'"><%= austragungsort.Name %></a>');
				 
				 if(!ortURI[3]) {
					 $('#aort').html('');
				 }
	 
			
			   $('.datepick').datetimepicker({format:'DD.MM.YYYY', minDate: time});
			    $('.timepick').datetimepicker({format:'HH:mm'});
			    
			        $('#addTisch').submit(function(e) {
							e.preventDefault();
							
							var tisch = $('#kit').val();
							var datum = $('#dat').text();
							var uhrzeit = $('#uhr').text();
							
							

			 var formData = {Datum: datum,
				 Uhrzeit: uhrzeit,
				 Austragungsort: tisch,
				 Status: stdStatus
			 };
		

							$.ajax({
								type: 'PUT',
								url: '/Match/<%= match.id %>',
								contentType: 'application/json',
								data: JSON.stringify(formData),
								success: function(data) {
						alert('Tisch wurde erfolgreich gesetzt.');
						window.location.reload(true);
						
								},
        fail: function() {
	        alert('Fehler');
        }
			
						});
						});
			    
			    $('#startMatch').submit(function(e) {
							e.preventDefault();

							var tisch = $('#aort').attr('href');
							var datum = $('#dat').text();
							var uhrzeit = $('#uhr').text();

 var formData = {Datum: datum,
				 Uhrzeit: uhrzeit,
				  Austragungsort: tisch,
				  Status: 'aktiv'};
				  
				var teilnehmer1 = $('#user0').text();
				var teilnehmer2 = $('#user1').text();
				var teilnehmer3 = $('#user2').text();
				var teilnehmer4 = $('#user3').text();
				
				var teilnehmerArray = [];
	
		
	if(teilnehmer1) {
		teilnehmerArray.push(teilnehmer1);
	}
	if(teilnehmer2) {
		teilnehmerArray.push(teilnehmer2);
	}
	if(teilnehmer3) {
		teilnehmerArray.push(teilnehmer3);
	}
	if(teilnehmer4) {
		teilnehmerArray.push(teilnehmer4);
	}
	
		var anzahl = teilnehmerArray.length;
		
				  
				  var teilnehmerData = {anzahl: anzahl, teilnehmer: teilnehmerArray,
					 'Herausforderungen': []
				  }

			$.when(
							$.ajax({
								type: 'PUT',
								url: '/Match/<%= match.id %>',
								contentType: 'application/json',
								data: JSON.stringify(formData)
								}),
								
								$.ajax({
								type: 'PUT',
								url: '<%= match.Austragungsort %>Belegung/',
								contentType: 'application/json',
								data: JSON.stringify(teilnehmerData)
								})
						).then(function() {
								
	window.location.reload(true);
						
						
      
						});
						
								
						});
	
	$('#changeData').submit(function(e) {
							e.preventDefault();
			
				var datum = $('#datum').val();
				var uhrzeit = $('#uhrzeit').val();
				var tisch = $('#aort').attr('href');
				

							if(!(datum && uhrzeit)) {
								alert('Bitte Daten spezifizieren.');
								return false;
								}
			 
			 var formData = {Datum: datum,
				 Uhrzeit: uhrzeit,
				  Austragungsort: tisch,
				   Status: stdStatus
			 };


							$.ajax({
								type: 'PUT',
								url: '/Match/<%= match.id %>',
								contentType: 'application/json',
								data: JSON.stringify(formData),
								success: function(data) {
									
									 $('#changeData').each(function() {
                        this.reset();
                   });
                   
                   

							  $("#dat").text(data.Datum);
							  $("#uhr").text(data.Uhrzeit);
								
								},
        fail: function() {
	        alert('Fehler');
        }
			
						});
						});
});
</script>
<body class="container">
  <header>
        <% include ../partials/header %>
    </header>
 <main>
        <div class="row">
            <div class="col-sm-8">
            
            
                <div class="jumbotron">
                    <h1>Match <%= match.id %></h1>
                   <br />
                  
                     <ul>
            <li>Datum: <span id="dat"><%= match.Datum %></span></li>
              <li> Startzeitpunkt: <span id="uhr"><%= match.Uhrzeit %></span> Uhr</li>
               <li> Austragungsort:  <span id="tis"></span></li>
                <li><a id="aort" href="<%= match.Austragungsort %>">Gewählter Kickertisch</a></span></li>
              <li id="stat"> Status: <%= match.Status %></li>
                    </ul> 
                    <br />
                 
                    <div id="teiln">
                    <p>Liste der Teilnehmer: </p>
                   
                    <ul>
                    <% if (match.Teilnehmer) { %>
                      <% for(var i=0; i < match.Teilnehmer.length; i++) { %>
                    <li id="user<%= i %>"><%= match.Teilnehmer[i] %></li>
                    <% }}; %>
                    </ul>
                    </div>
                    <hr />
                    
                     <% if (match.Status == 'vor_beginn') { %>

                     <form role="form" action="" method="POST" name="addTisch" id="addTisch">
                        <div class="form-group">
         <label for="kickertisch">Kickertisch:</label> <br>
         <select id="kit" class="form-control">
	     <option value="0">Bitte wählen</option>
           <% kickertische.forEach(function(tisch) { belegungen.forEach(function(belegung) { %>
	               <% if(tisch.id == belegung.id) { %>
         <option class="kickertisch" value="/Austragungsort/<%= austragungsort.id %>/Kickertisch/<%= tisch.id %>/">Hersteller: <%= tisch.Hersteller  %>, Typ: <%= tisch.Typ %>, Belegung:
         <% if (belegung.Anzahl != '0') { %> <%= belegung.Anzahl %> Spieler <% } %></option>
         <% } }); });   %>
         </select>
         </div>
           <input type="submit" class="btn btn-primary" name="change" value="Kickertisch übernehmen" />
         </form>
         
             <hr />
           

                    <div id="divdata" class="margintop20">
                    <p> Match ändern: </p>
                    <form role="form" action="" method="POST" name="changeData" id="changeData">
                      <div class="form-group">
		 <label for="datum">Datum:</label> <br>
		 <div class="row">
		  <div class='col-sm-12'>
                    <input type='text' id="datum" placeholder="Datum" class="form-control datepick" />
                      </div>
                      </div>
                       <label for="uhrzeit">Uhrzeit:</label> <br>
                      <div class="row">
		  <div class='col-sm-12'>
                    <input type='text' id="uhrzeit" placeholder="Uhrzeit" class="form-control timepick" />
                      </div>
                      </div>
                      
                                           
                      </div>
                         
           <input type="submit" class="btn btn-primary" name="change" value="Ändern" />
           </form>
           </div>
           <hr />
        
                     <div id="divstart" class="margintop20">
                    <form role="form" action="" method="PUT" name="startMatch" id="startMatch">
 <input type="submit" class="btn btn-success" name="start" value="Match starten" />
 </form>
                    </div>
                    <hr />
                    <% } else if (match.Status == 'aktiv') { %>
	                  pokpok
	                    <% } else { %>
		                    not defined
		                    <% }%>
           
<br />
<h4>Regeln</h4>
<br />

<%= match.Regelwerk %>
  	       
                </div>
                
            </div>
           
        </div>
    </main>
 <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>