<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>

        <script>
            $(document).ready(function() {
                
                
                // Variablen für PUT Requests
                var stdStatus = 'vor_beginn';
                var stdModus = $('#modustext').text();
                
                // Datepicker Logik
                var d = new Date();
                var time = d.setDate(d.getDate()-1);
                
                $('.datepick').datetimepicker({format:'DD.MM.YYYY', minDate: time});
                $('.timepick').datetimepicker({format:'HH:mm'});

                // Prüfen ob Match abgebrochen werden darf
                var spielstand1 = $('.sp1pkt').text();
                var spielstand2 = $('.sp2pkt').text();

                var value1 = parseInt(spielstand1, 10);
                var value2 = parseInt(spielstand2, 10);
                
                 if(value1 >= 1 || value2 >= 1) {
                          $('#spielmodus').attr('disabled', 'disabled');
                       $('#modusButton').prop('disabled', true);
                      }

                if(stdModus == 'Variation') {						
                    if(value1 >= 10 || value2 >= 10) {
                        $('#cancMatch').prop('disabled', true);
                    }
                }
                else if(stdModus == 'Klassisch') {
                    if(value1 >= 6 || value2 >= 6) {
                        $('#cancMatch').prop('disabled', true);
                    }
                }

                // Wenn ein Kickertisch ausgewählt wird, wird der Austragungsort (/Austragungsort/id) durch 
                // den Kickertisch überschrieben weil er Subressource des Ortes ist (/Austragungsort/id/Kickertisch/id)
                <% if(match.Austragungsort)  { %>		
                var ortURI = "<%= match.Austragungsort %>".split("/");		
                var ort = "/"+ortURI[1]+"/"+ortURI[2];		
                $('#tis').append('<a href="'+ort+'"><%= austragungsort.Name %></a>');		

                // Prüfung ob ein Kickertisch gesetzt ist
                if(!ortURI[3]) {		
                    $('#stdTisch').html('Bitte einen Kickertisch wählen.');		
                    $('#aort').html('');		
                }		
                <% } %>
                
                // Änderung des Spielmodus
                  $('#modusPOST').submit(function(e) {
                    e.preventDefault();

                    var spielstand1 = $('.sp1pkt').text();
                    var spielstand2 = $('.sp2pkt').text();

                    var value1 = parseInt(spielstand1, 10);
                    var value2 = parseInt(spielstand2, 10);
                      
                    var modus = $('#spielmodus').val();

                    var formData = {spielstandT1: value1,
                                    spielstandT2: value2,
                                    Modus: modus
                                   };
                    
                    $.ajax({
                        type: 'PUT',
                        url: window.location.pathname+'/Spielstand',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function(data) {

                              window.location.reload(true);	

                        },
                         statusCode: {
                            403: function(){
                                alert('Der Modus kann nicht mehr geändert werden.');
                            }
                        },
                        fail: function() {
                            alert('Fehler');
                        }

                    });	

                });
                
                // Hinzufügen eines Kickertisches

                $('#addTisch').submit(function(e) {
                    e.preventDefault();

                    var tisch = $('#kit').val();
                    var datum = $('#dat').text();
                    var uhrzeit = $('#uhr').text();

                    if(tisch && tisch == '0') {
                        alert('Bitte Tisch wählen');
                        return false;
                    }
                    
                    var teilnehmer1 = $('#team1teilnehmer1').attr('href');
                    var teilnehmer2 = $('#team1teilnehmer2').attr('href');
                    var teilnehmer3 = $('#team2teilnehmer1').attr('href');
                    var teilnehmer4 = $('#team2teilnehmer2').attr('href');
                    
                    // Baue aus Teilnehmern ein Array
                    var teilnehmerArray = [];


                    if(teilnehmer1) {
                        teilnehmerArray.push(teilnehmer1);
                    }
                    if(teilnehmer2) {
                        teilnehmerArray.push(teilnehmer2);
                    }
                    if(teilnehmer3) {
                        teilnehmerArray.push(teilnehmer3);
                    }
                    if(teilnehmer4) {
                        teilnehmerArray.push(teilnehmer4);
                    }

                    // Wenn die Länge des Teilnehmer Arrays 1,2,3 oder 4 ist, setze jeweils die Teams eines Matches
                    if(teilnehmerArray.length == 1) {
                        var teilnehmerTeamArray = [{ Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: null },
                                                    Team2: { Teilnehmer1: null, Teilnehmer2: null } } ]
                        } else if (teilnehmerArray.length == 2) {
                            var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: null },
                                                         Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: null } } ]
                            } else if(teilnehmerArray.length == 3) {
                                var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: teilnehmer2 } ,
                                                             Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: null } } ]
                                } else if (teilnehmerArray.length == 4) {
                                    var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: teilnehmer2 } ,
                                                                 Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: teilnehmer4 } } ]
                                    }


                    var formData = {Datum: datum,
                                    Uhrzeit: uhrzeit,
                                    Austragungsort: tisch,
                                    Teilnehmer: teilnehmerTeamArray,
                                    Status:  stdStatus,
                                  Turnier : <% if(match.Turnier) { %> "<%=match.Turnier %>" <% } else { %>null<% } %>
                                   };


                    $.ajax({
                        type: 'PUT',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function(data) {
                            alert('Tisch wurde erfolgreich gesetzt.');

                            window.location.reload(true);

                        },
                        fail: function() {
                            alert('Fehler');
                        }

                    });
                });

                // Starten eines Matches
                $('#startMatch').submit(function(e) {
                    e.preventDefault();

                    var tisch = $('#aort').attr('href');
                    var datum = $('#dat').text();
                    var uhrzeit = $('#uhr').text();
                    
                     var teilnehmer1 = $('#team1teilnehmer1').attr('href');
                    var teilnehmer2 = $('#team1teilnehmer2').attr('href');
                    var teilnehmer3 = $('#team2teilnehmer1').attr('href');
                    var teilnehmer4 = $('#team2teilnehmer2').attr('href');
                    
                    // Baue aus Teilnehmern ein Array
                    var teilnehmerArray = [];


                    if(teilnehmer1) {
                        teilnehmerArray.push(teilnehmer1);
                    }
                    if(teilnehmer2) {
                        teilnehmerArray.push(teilnehmer2);
                    }
                    if(teilnehmer3) {
                        teilnehmerArray.push(teilnehmer3);
                    }
                    if(teilnehmer4) {
                        teilnehmerArray.push(teilnehmer4);
                    }

                    // Wenn die Länge des Teilnehmer Arrays 1,2,3 oder 4 ist, setze jeweils die Teams eines Matches
                    if(teilnehmerArray.length == 1) {
                        var teilnehmerTeamArray = [{ Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: null },
                                                    Team2: { Teilnehmer1: null, Teilnehmer2: null } } ]
                        } else if (teilnehmerArray.length == 2) {
                            var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: null },
                                                         Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: null } } ]
                            } else if(teilnehmerArray.length == 3) {
                                var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: teilnehmer2 } ,
                                                             Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: null } } ]
                                } else if (teilnehmerArray.length == 4) {
                                    var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: teilnehmer2 } ,
                                                                 Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: teilnehmer4 } } ]
                                    }


                    // siehe obiges Script zur Prüfung ob ein Kickertisch gesetzt ist, dann enthält die URI die ID des Tisches
                    if(!ortURI[3]) {
                        alert('Bitte einen Kickertisch auswählen.');
                        return false;
                    }
                    
                    var formData = {Datum: datum,
                                    Uhrzeit: uhrzeit,
                                    Teilnehmer:teilnehmerTeamArray,
                                    Austragungsort: tisch,
                                    Status:  'aktiv',
                                 Turnier : <% if(match.Turnier) { %> "<%=match.Turnier %>" <% } else { %>null<% } %>
                                   };

                    // Setzen der Belegung eines Kickertisches, dazu Prüfung wieviele Teilnehmer das Match hat
                    var teilnehmerArray = [];


                    if("<%= match.Teilnehmer[0].Team1.Teilnehmer1 %>" != '') {
                        teilnehmerArray.push("<%= match.Teilnehmer[0].Team1.Teilnehmer1 %>");
                    }
                    if("<%= match.Teilnehmer[0].Team1.Teilnehmer2 %>" != '') {
                        teilnehmerArray.push("<%= match.Teilnehmer[0].Team1.Teilnehmer2 %>");
                    }
                    if("<%= match.Teilnehmer[0].Team2.Teilnehmer1 %>" != '') {
                        teilnehmerArray.push("<%= match.Teilnehmer[0].Team2.Teilnehmer1 %>");
                    }
                    if("<%= match.Teilnehmer[0].Team2.Teilnehmer2 %>" != '') {
                        teilnehmerArray.push("<%= match.Teilnehmer[0].Team2.Teilnehmer2 %>");
                    }

                    var anzahl = teilnehmerArray.length;

                    // Wenn das Match 1 Teilnehmer hat und dieser es starten will, blockieren
                    if(anzahl == 1) {
                        alert('Bitte mindestens einen weiteren Teilnehmer zum Match hinzufügen.');
                        return false;
                    }

                    var teilnehmerData = {anzahl: anzahl, teilnehmer: teilnehmerArray
                                         }


                    // 2 PUT Anfragen, einmal den Status des Matches auf "aktiv" setzen, einmal die Belegung des
                    // Tisches setzen
                    $.when(
                        $.ajax({
                            type: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify(formData)
                        }),

                        $.ajax({
                            type: 'PUT',
                            url: '<%= match.Austragungsort %>/Belegung',
                            contentType: 'application/json',
                            data: JSON.stringify(teilnehmerData)
                        })
                    ).then(function() {

                        window.location.reload(true);
                        
                    });
                });

                // Beenden eines Matches
                $('#endMatch').submit(function(e) {
                    e.preventDefault();

                    var tisch = $('#aort').attr('href');
                    var datum = $('#dat').text();
                    var uhrzeit = $('#uhr').text();
                    
                    var teilnehmer1 = $('#team1teilnehmer1').attr('href');
                    var teilnehmer2 = $('#team1teilnehmer2').attr('href');
                    var teilnehmer3 = $('#team2teilnehmer1').attr('href');
                    var teilnehmer4 = $('#team2teilnehmer2').attr('href');
                    
                    // Baue aus Teilnehmern ein Array
                    var teilnehmerArray = [];


                    if(teilnehmer1) {
                        teilnehmerArray.push(teilnehmer1);
                    }
                    if(teilnehmer2) {
                        teilnehmerArray.push(teilnehmer2);
                    }
                    if(teilnehmer3) {
                        teilnehmerArray.push(teilnehmer3);
                    }
                    if(teilnehmer4) {
                        teilnehmerArray.push(teilnehmer4);
                    }

                    // Wenn die Länge des Teilnehmer Arrays 1,2,3 oder 4 ist, setze jeweils die Teams eines Matches
                    if(teilnehmerArray.length == 1) {
                        var teilnehmerTeamArray = [{ Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: null },
                                                    Team2: { Teilnehmer1: null, Teilnehmer2: null } } ]
                        } else if (teilnehmerArray.length == 2) {
                            var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: null },
                                                         Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: null } } ]
                            } else if(teilnehmerArray.length == 3) {
                                var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: teilnehmer2 } ,
                                                             Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: null } } ]
                                } else if (teilnehmerArray.length == 4) {
                                    var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: teilnehmer2 } ,
                                                                 Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: teilnehmer4 } } ]
                                    }


                    var formData = {Datum: datum,
                                    Uhrzeit: uhrzeit,
                                    Austragungsort : tisch,
                                    Teilnehmer : teilnehmerTeamArray,
                                    Status:  'beendet',
                                   Turnier : <% if(match.Turnier) { %> "<%=match.Turnier %>" <% } else { %>null<% } %>
                                   };

                    // Aufheben der zuvor angelegten Belegung
                    var teilnehmerData = {anzahl: 0, teilnehmer: null
                                         }


                    // 2 PUT Anfragen, einmal den Status des Matches auf "beendet" setzen, einmal die Belegung des
                    // Tisches aufheben
                    $.when(
                        $.ajax({
                            type: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify(formData)
                        }),

                        $.ajax({
                            type: 'PUT',
                            url: '<%= match.Austragungsort %>/Belegung',
                            contentType: 'application/json',
                            data: JSON.stringify(teilnehmerData)
                        })

                    ).then(function() {

                        window.location.reload(true);

                    });


                });

                // Abbrechen eines Matches
                $('#cancelMatch').submit(function(e) {
                    e.preventDefault();

                    var tisch = $('#aort').attr('href');
                    var datum = $('#dat').text();
                    var uhrzeit = $('#uhr').text();
                    
                    var teilnehmer1 = $('#team1teilnehmer1').attr('href');
                    var teilnehmer2 = $('#team1teilnehmer2').attr('href');
                    var teilnehmer3 = $('#team2teilnehmer1').attr('href');
                    var teilnehmer4 = $('#team2teilnehmer2').attr('href');
                    
                    // Baue aus Teilnehmern ein Array
                    var teilnehmerArray = [];


                    if(teilnehmer1) {
                        teilnehmerArray.push(teilnehmer1);
                    }
                    if(teilnehmer2) {
                        teilnehmerArray.push(teilnehmer2);
                    }
                    if(teilnehmer3) {
                        teilnehmerArray.push(teilnehmer3);
                    }
                    if(teilnehmer4) {
                        teilnehmerArray.push(teilnehmer4);
                    }

                    // Wenn die Länge des Teilnehmer Arrays 1,2,3 oder 4 ist, setze jeweils die Teams eines Matches
                    if(teilnehmerArray.length == 1) {
                        var teilnehmerTeamArray = [{ Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: null },
                                                    Team2: { Teilnehmer1: null, Teilnehmer2: null } } ]
                        } else if (teilnehmerArray.length == 2) {
                            var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: null },
                                                         Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: null } } ]
                            } else if(teilnehmerArray.length == 3) {
                                var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: teilnehmer2 } ,
                                                             Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: null } } ]
                                } else if (teilnehmerArray.length == 4) {
                                    var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: teilnehmer2 } ,
                                                                 Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: teilnehmer4 } } ]
                                    }

                    var formData = {Datum: datum,
                                    Uhrzeit: uhrzeit,
                                    Teilnehmer: teilnehmerTeamArray,
                                    Austragungsort: tisch,
                                    Status:  'abgebrochen',
                                   Turnier : <% if(match.Turnier) { %> "<%=match.Turnier %>" <% } else { %>null<% } %>
                                   };

                    // Belegung eines Tisches resetten
                    var teilnehmerData = {anzahl: 0, teilnehmer: null
                                         }

                    // 2 PUT Anfragen, einmal den Status des Matches auf "abgebrochen" setzen, einmal die Belegung des
                    // Tisches aufheben
                    $.when(
                        $.ajax({
                            type: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify(formData)
                        }),

                        $.ajax({
                            type: 'PUT',
                            url: '<%= match.Austragungsort %>/Belegung',
                            contentType: 'application/json',
                            data: JSON.stringify(teilnehmerData)
                        })
                    ).then(function() {

                        window.location.reload(true);



                    });


                });

                // Änderung von Datum und Uhrzeit eines Matches
                $('#changeData').submit(function(e) {
                    e.preventDefault();

                    var datum = $('#datum').val();
                    var uhrzeit = $('#uhrzeit').val();
                    var tisch = $('#aort').attr('href');


                    if(!(datum && uhrzeit)) {
                        alert('Bitte Daten spezifizieren.');
                        return false;
                    }
                    
                    var teilnehmer1 = $('#team1teilnehmer1').attr('href');
                    var teilnehmer2 = $('#team1teilnehmer2').attr('href');
                    var teilnehmer3 = $('#team2teilnehmer1').attr('href');
                    var teilnehmer4 = $('#team2teilnehmer2').attr('href');
                    
                    // Baue aus Teilnehmern ein Array
                    var teilnehmerArray = [];


                    if(teilnehmer1) {
                        teilnehmerArray.push(teilnehmer1);
                    }
                    if(teilnehmer2) {
                        teilnehmerArray.push(teilnehmer2);
                    }
                    if(teilnehmer3) {
                        teilnehmerArray.push(teilnehmer3);
                    }
                    if(teilnehmer4) {
                        teilnehmerArray.push(teilnehmer4);
                    }

                    // Wenn die Länge des Teilnehmer Arrays 1,2,3 oder 4 ist, setze jeweils die Teams eines Matches
                    if(teilnehmerArray.length == 1) {
                        var teilnehmerTeamArray = [{ Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: null },
                                                    Team2: { Teilnehmer1: null, Teilnehmer2: null } } ]
                        } else if (teilnehmerArray.length == 2) {
                            var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: null },
                                                         Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: null } } ]
                            } else if(teilnehmerArray.length == 3) {
                                var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: teilnehmer2 } ,
                                                             Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: null } } ]
                                } else if (teilnehmerArray.length == 4) {
                                    var teilnehmerTeamArray = [ { Team1: { Teilnehmer1: teilnehmer1, Teilnehmer2: teilnehmer2 } ,
                                                                 Team2: { Teilnehmer1: teilnehmer3, Teilnehmer2: teilnehmer4 } } ]
                                    }

                    var formData = {Datum: datum,
                                    Uhrzeit: uhrzeit,
                                    Austragungsort: tisch,
                                    Teilnehmer:teilnehmerTeamArray,
                                    Status:  stdStatus,
                                 Turnier : <% if(match.Turnier) { %> "<%=match.Turnier %>" <% } else { %>null<% } %>
                                   };


                    $.ajax({
                        type: 'PUT',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function(data) {
                            alert('Daten erfolgreich geändert.');
                            $('#changeData').each(function() {
                                this.reset();
                            });

                            $("#dat").text(data.Datum);
                            $("#uhr").text(data.Uhrzeit);

                        },
                        fail: function() {
                            alert('Fehler');
                        },
                    });
                });

                // Wenn Team1 den '+' Button drückt
                $('#sp1').click(function(e) {
                    e.preventDefault();

                    var spielstand1 = $('.sp1pkt').text();
                    var spielstand2 = $('.sp2pkt').text();

                    var value1 = parseInt(spielstand1, 10) + 1;
                    var value2 = parseInt(spielstand2, 10);
                    
                     if(value1 >= 1 || value2 >= 1) {
                          $('#spielmodus').attr('disabled', 'disabled');
                          $('#modusButton').prop('disabled', true);
                      }

                    // Solange das andere Team nicht die Zielpunktzahl erreicht hat
                    if(stdModus == 'Variation') {	
                        
                          if(value1 >= 11 || spielstand2 == 10) {
                        alert('Regelwidriges Verhalten.');
                        return false;
                    }

                        if(value1 == 10) {
                            

                            $('#cancMatch').prop('disabled', true);
                        }

                    } else {
                        
                              if(value1 >= 7 || spielstand2 == 6) {
                        alert('Regelwidriges Verhalten.');
                        return false;
                    }
                        
                        if(value1 == 6) {
                            

                            $('#cancMatch').prop('disabled', true);
                        }
                    }


                    var formData = { spielstandT1 : value1,
                                    spielstandT2 : value2,
                                    Modus: stdModus }

                    // Setzte PUT Request auf Spielstand ab und übernehme die Antwort in Form von aktualisierten
                    // Spielständen
                    $.ajax({
                        type: 'PUT',
                        url: window.location.pathname+'/Spielstand',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function(data) {

                            $('.sp1pkt').text(data.spielstandT1);
                            $('.sp2pkt').text(data.spielstandT2);

                        },
                        fail: function() {
                            alert('Fehler');
                        }

                    });

                });

                // Wenn Team2 den '+' Button drückt
                $('#sp2').click(function(e) {
                    e.preventDefault();

                    var spielstand1 = $('.sp1pkt').text();
                    var spielstand2 = $('.sp2pkt').text();

                    var value1 = parseInt(spielstand1, 10);
                    var value2 = parseInt(spielstand2, 10) + 1;
                    
                     if(value1 >= 1 || value2 >= 1) {
                          $('#spielmodus').attr('disabled', 'disabled');
                          $('#modusButton').prop('disabled', true);
                      }

                    // Solange das andere Team nicht die Zielpunktzahl erreicht hat
                      if(stdModus == 'Variation') {	
                        
                          if(value2 >= 11 || spielstand1 == 10) {
                        alert('Regelwidriges Verhalten.');
                        return false;
                    }

                        if(value2 == 10) {
                            

                            $('#cancMatch').prop('disabled', true);
                        }

                    } else {
                      if(value2 >= 7 || spielstand1 == 6) {
                        alert('Regelwidriges Verhalten.');
                        return false;
                    }

                        if(value2 == 6) {
                            
                            $('#cancMatch').prop('disabled', true);
                        }
                    }

                    var formData = { spielstandT1 : value1,
                                    spielstandT2 : value2,
                                    Modus: stdModus }

                    // Setzte PUT Request auf Spielstand ab und übernehme die Antwort in Form von aktualisierten
                    // Spielständen
                    $.ajax({
                        type: 'PUT',
                        url: window.location.pathname+'/Spielstand',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function(data) {



                            $('.sp1pkt').text(data.spielstandT1);
                            $('.sp2pkt').text(data.spielstandT2);

                        },
                        fail: function() {
                            alert('Fehler');
                        }

                    });

                });

            });
        </script>
    </head>

    <body class="container">
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <div class="row">
                <div class="col-sm-12">

                    <div class="jumbotron">
                        <h1>Match <%= match.id %></h1>
                        <br />

                        <ul>
                            <li>Datum: <span id="dat"><%= match.Datum %></span></li>
                            <li> Startzeitpunkt: <span id="uhr"><%= match.Uhrzeit %></span> Uhr</li>
                            <li> Austragungsort:  <span id="tis"></span></li>
                            <li>Kickertisch: <span id="stdTisch"></span><a id="aort" href="<%= match.Austragungsort %>">Gewählter Kickertisch</a></li>
                            <li id="stat"> Status: <%= match.Status %></li>
                        </ul> 
                        <hr />
                        
             
                       
                        <p>Teams </p>

                        <% if (match.Teilnehmer) { 
    if(benutzerAll.length == 1) {
        benutzerAll.forEach(function(benutzer) { 
            if('/Benutzer/'+benutzer.id == match.Teilnehmer[0].Team1.Teilnehmer1) { %>

                        <p id="team1">Team 1 : <a id="team1teilnehmer1" href="<%= match.Teilnehmer[0].Team1.Teilnehmer1 %>"><%= benutzer.Name %></a></p>

                        <% } }); } 

else if(benutzerAll.length == 2) { 
    benutzerAll.forEach(function(benutzer) { 
        if('/Benutzer/'+benutzer.id == match.Teilnehmer[0].Team1.Teilnehmer1) { %>

                        <p id="team1">Team 1 : <a id="team1teilnehmer1" href="<%= match.Teilnehmer[0].Team1.Teilnehmer1 %>"><%= benutzer.Name %></a></p>
                        <% }});  
                        benutzerAll.forEach(function(benutzer) {  
                            if('/Benutzer/'+benutzer.id == match.Teilnehmer[0].Team2.Teilnehmer1) { %>
                        <p id="team2">Team 2 : <a id="team2teilnehmer1"  href="<%= match.Teilnehmer[0].Team2.Teilnehmer1 %>"><%= benutzer.Name %></a></p>
                        <%  } }); } 

else if(benutzerAll.length == 3) {  
    benutzerAll.forEach(function(benutzer) { 
        if('/Benutzer/'+benutzer.id == match.Teilnehmer[0].Team1.Teilnehmer1) { %> 
                        <p id="team1">Team 1 : <a id="team1teilnehmer1" href="<%= match.Teilnehmer[0].Team1.Teilnehmer1 %>"><%= benutzer.Name %></a>
                            <% } }); %>, 
                            <% benutzerAll.forEach(function(benutzer) { 
    if('/Benutzer/'+benutzer.id == match.Teilnehmer[0].Team1.Teilnehmer2) { %> 
                            <a id="team1teilnehmer2"  href="<%= match.Teilnehmer[0].Team1.Teilnehmer2 %>"><%= benutzer.Name %></a></p>  
                        <% } }); 
                        benutzerAll.forEach(function(benutzer) { 
                            if('/Benutzer/'+benutzer.id == match.Teilnehmer[0].Team2.Teilnehmer1) { %> 
                        <p id="team2">Team 2 : <a id="team2teilnehmer1" href="<%= match.Teilnehmer[0].Team2.Teilnehmer1 %>"><%= benutzer.Name %></a></p>                                        <% } }); } 

else if(benutzerAll.length == 4) {  
    benutzerAll.forEach(function(benutzer) { 
        if('/Benutzer/'+benutzer.id == match.Teilnehmer[0].Team1.Teilnehmer1) { %> 

                        <p id="team1">Team 1 : <a id="team1teilnehmer1" href="<%= match.Teilnehmer[0].Team1.Teilnehmer1 %>"><%= benutzer.Name %></a><% } }); %>, <% benutzerAll.forEach(function(benutzer) { 
    if('/Benutzer/'+benutzer.id == match.Teilnehmer[0].Team1.Teilnehmer2) { %> 
                            <a id="team1teilnehmer2" href="<%= match.Teilnehmer[0].Team1.Teilnehmer2 %>"><%= benutzer.Name %></a></p>  
                        <% } }); %>
                        <% benutzerAll.forEach(function(benutzer) { 

    if('/Benutzer/'+benutzer.id == match.Teilnehmer[0].Team2.Teilnehmer1) { %> 

                        <p id="team2">Team 2 : <a id="team2teilnehmer1" href="<%= match.Teilnehmer[0].Team2.Teilnehmer1 %>"><%= benutzer.Name %></a><% } }); %>, <% benutzerAll.forEach(function(benutzer) { 
    if('/Benutzer/'+benutzer.id == match.Teilnehmer[0].Team2.Teilnehmer2) { %> 
                            <a id="team2teilnehmer2" href="<%= match.Teilnehmer[0].Team2.Teilnehmer2 %>"><%= benutzer.Name %></a></p>  
                        <% } }); %>
                        <% } %>
                        <% } %>
<hr />
                        <% if (match.Status == 'vor_beginn') { %>

                        <% if(typeof kickertische != 'undefined') { %>
                     
                        <div class="row">
                            <div class="col-md-6">

                                <form role="form" action="" method="POST" name="addTisch" id="addTisch">
                                    <div class="form-group">

                                        <label for="kickertisch">Kickertisch:</label> <br>
                                        <select id="kit" class="form-control">
                                            <option value="0">Bitte wählen</option>

                                            <% kickertische.forEach(function(tisch) { belegungen.forEach(function(belegung) {  %>
                                            <% if(belegung.id == tisch.id)  { %>
                                              <% if(belegung.Anzahl >= 1) { %>
                                            <option disabled="disabled" class="kickertisch" value="/Austragungsort/<%= austragungsort.id %>/Kickertisch/<%= tisch.id %>">Hersteller: <%= tisch.Hersteller  %>, Typ: <%= tisch.Typ %>, Belegung: <%= belegung.Anzahl %> Spieler</option>
                                            <% } %>
                                            <% if(benutzerAll.length == 1 && belegung.Anzahl == 0) { %>
                                            <option class="kickertisch" value="/Austragungsort/<%= austragungsort.id %>/Kickertisch/<%= tisch.id %>">Hersteller: <%= tisch.Hersteller  %>, Typ: <%= tisch.Typ %>, Belegung: <%= belegung.Anzahl %> Spieler</option>
                                            <% } else if (benutzerAll.length == 2 && belegung.Anzahl == 0) { %>
                                            <option class="kickertisch" value="/Austragungsort/<%= austragungsort.id %>/Kickertisch/<%= tisch.id %>">Hersteller: <%= tisch.Hersteller  %>, Typ: <%= tisch.Typ %>, Belegung: <%= belegung.Anzahl %> Spieler</option>
                                            <% } else if(benutzerAll.length == 2 && belegung.Anzahl == 0){ %>
                                             <option  disabled="disabled" class="kickertisch" value="/Austragungsort/<%= austragungsort.id %>/Kickertisch/<%= tisch.id %>">Hersteller: <%= tisch.Hersteller  %>, Typ: <%= tisch.Typ %>, Belegung: <%= belegung.Anzahl %> Spieler</option>
                                            <% } else if (benutzerAll.length == 3 && belegung.Anzahl == 0) { %>
                                            <option class="kickertisch" value="/Austragungsort/<%= austragungsort.id %>/Kickertisch/<%= tisch.id %>">Hersteller: <%= tisch.Hersteller  %>, Typ: <%= tisch.Typ %>, Belegung: <%= belegung.Anzahl %> Spieler</option>
                                            <% } else if (benutzerAll.length == 4 && belegung.Anzahl == 0) { %>
                                            <option class="kickertisch" value="/Austragungsort/<%= austragungsort.id %>/Kickertisch/<%= tisch.id %>">Hersteller: <%= tisch.Hersteller  %>, Typ: <%= tisch.Typ %>, Belegung: <%= belegung.Anzahl %> Spieler</option>
                                            <% } %>
                                            <% } }); });   %>
                                        </select>

                                    </div>
                                    <input type="submit" class="btn btn-primary" name="change" value="Kickertisch übernehmen" />
                                </form>

                            </div>
                        </div>
                        <hr />
                        <% } else { %>
                        <hr />
                        <% } %>
                         <% if(match.Turnier == null) { %>
                        <div class="row">
                            <div class="col-md-6">
                                <p> Match ändern: </p>
                                <form role="form" action="" method="POST" name="changeData" id="changeData">
                                    <div class="form-group">
                                        <label for="datum">Datum:</label> <br>
                                        <div class="row">
                                            <div class='col-sm-12'>
                                                <input type='text' id="datum" placeholder="Datum" class="form-control datepick" />
                                            </div>
                                        </div>
                                        <label for="uhrzeit">Uhrzeit:</label> <br>
                                        <div class="row">
                                            <div class='col-sm-12'>
                                                <input type='text' id="uhrzeit" placeholder="Uhrzeit" class="form-control timepick" />
                                            </div>
                                        </div>


                                    </div>

                                    <input type="submit" class="btn btn-primary" name="change" value="Ändern" />
                                </form>
                            </div>
                        </div>
                        <hr />
                        <% } %>
                        <div id="divstart" class="margintop20">
                            <form role="form" action="" method="PUT" name="startMatch" id="startMatch">
                                <input type="submit" class="btn btn-success" name="start" value="Match starten" />
                            </form>
                        </div>
                        <hr />
                        <% } else if (match.Status == 'aktiv') { %>
                       <% if(match.Turnier == null) { %>
                        <div class="row">
                            <div class="col-md-6">
                                <form role="form" action="" method="POST" name="modusPOST" id="modusPOST">
                                    <p>Spielmodus (Änderung nur möglich bis ein Punkt erzielt wurde):</p>
                                    <div class="form-group">

                                        <select id="spielmodus" class="form-control">
                                            <option value="0">Bitte wählen</option>
                                            <option value="Klassisch">Klassisch (6 Punkte bis zum Sieg)</option>
                                            <option value="Variation">Variation (10 Punkte bis zum Sieg)</option>
                                        </select>
                                    </div>
                                    <div class="form-group">

                                        <input type="submit" class="btn btn-primary" id="modusButton" value="Auswählen" />    </div>
                                </form>
                            </div>
                        </div>
                        <hr />
                        <% } %>
                        <form role="form" action="" method="PUT" name="changeSpielstand" id="changeSpielstand">


                            <div class="spielstand">

                                <p id="spielst">Spielmodus: <span id="modustext"><%= spielstand.Modus %></span> <% if (spielstand.Modus == 'Klassisch') { %> (6 Punkte bis zum Sieg) <% } else if (spielstand.Modus == 'Variation') { %> (10 Punkte bis zum Sieg) <% } %> </p>

                                <div class="row">
                                    <div class="col-md-4">
                                        <p id="pkt" class="sp1pkt"><%= spielstand.spielstandT1 %></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p id="pkt">:</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p id="pkt" class="sp2pkt"><%= spielstand.spielstandT2 %></p>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6"><p id="spielst">Team 1</p></div>
                                    <div class="col-md-6"><p id="spielst">Team 2</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="button" id="sp1" class="btn btn-primary btn-lg" value="+" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="button" id="sp2" class="btn btn-primary btn-lg" value="+" />
                                    </div>
                                </div>

                            </div>
                        </form>


                        <hr />
                        <div class="row text-center">
                            <div>
                                <form role="form" action="" method="PUT" name="endMatch" id="endMatch">
                                    <input type="submit" class="btn btn-success" id="beendMatch" name="start" value="Match beenden" />
                                    <p><br />Wird ein Match vor Erreichen der Zielpunktzahl beendet, wird es nicht gewertet.</p>
                                </form>
                            </div>
                              <% if(match.Turnier == null) { %>
                            <br />
                            <div>
                               
                                <form role="form" action="" method="PUT" name="cancelMatch" id="cancelMatch">
                                    <input type="submit" class="btn btn-danger" id="cancMatch" value="Match abbrechen" />
                                </form>
                                
                            </div>
                            <% } %>
                        </div>
                        <hr />
                        <% } else if (match.Status == 'beendet') { %>
                     
                        <div class="spielstand">
                            <div class="row">
                                <p id="spielst">Endstand</p>
                            </div>
                            <div class="row">

                                <div class="col-md-6"><p id="spielst">Team 1</p></div>
                                <div class="col-md-6"><p id="spielst">Team 2</p></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p id="pkt" class="sp1pkt"><%= spielstand.spielstandT1 %></p>
                                </div>
                                <div class="col-md-4">
                                    <p id="pkt">:</p>
                                </div>
                                <div class="col-md-4">
                                    <p id="pkt" class="sp2pkt"><%= spielstand.spielstandT2 %></p>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <p id="spielst">
                                    <br /><% if(spielstand.Gewinner) { %>

                                    <% if(spielstand.Gewinner && !spielstand.Gewinner2) { 
    benutzerAll.forEach(function(benutzer) { 
        if('/Benutzer/'+benutzer.id == spielstand.Gewinner) { %>

                                    Gewinner: <a href="<%= spielstand.Gewinner %>"><%= benutzer.Name %></a>
                                    <% } }); } 
else { %>
                                    Gewinner: <% benutzerAll.forEach(function(benutzer) { 
    if('/Benutzer/'+benutzer.id == spielstand.Gewinner) { %> <a href="<%= spielstand.Gewinner %>"><%= benutzer.Name %></a>
                                    <% } }); %>, 
                                    <% benutzerAll.forEach(function(benutzer) { 
    if('/Benutzer/'+benutzer.id == spielstand.Gewinner2) { %>
                                    <a href="<%= spielstand.Gewinner2 %>"><%= benutzer.Name %></a>
                                    <% } }); } }; %>
                                </p>
                            </div> 
                        </div>		 


                        <% } else { %>
                        <div class="spielstand">
                            <div class="row">
                                <p id="spielst">Match abgebrochen</p>
                            </div>
                            <div class="row">

                                <div class="col-md-6"><p id="spielst">Team 1</p></div>
                                <div class="col-md-6"><p id="spielst">Team 2</p></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p id="pkt" class="sp1pkt"><%= spielstand.spielstandT1 %></p>
                                </div>
                                <div class="col-md-4">
                                    <p id="pkt">:</p>
                                </div>
                                <div class="col-md-4">
                                    <p id="pkt" class="sp2pkt"><%= spielstand.spielstandT2 %></p>
                                </div>
                            </div>


                        </div>		
                        <% } %>
                        <br />
                        <br />
                        <div class="margintop20">
                            <h4>Regeln</h4>
                            <br />

                            <p><%= match.Regelwerk.Beschreibung %></p>
                            <p><a href="<%= match.Regelwerk.OffiziellesRegelwerk %>">Offizielle Kickerregeln</a></p>

                        </div>
                    </div>

                </div>

            </div>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>