<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>

        <script type="text/javascript" src="http://localhost:8000/faye/client.js"></script>
        <script>

            $(document).ready(function() {



                // Fügt dem Turnier einen Teilnehmer hinzu
                $('#addTeilnehmer').submit(function(e) {
                    e.preventDefault();

                    var teilnehmer = $('#teilnehmer').val();

                    if(teilnehmer == '0') {
                        alert('Bitte Teilnehmer spezifizieren.');
                        return false;
                    }


                    var formData = {'Teilnehmer' : teilnehmer};

                    $.ajax({
                        type: 'PUT',
                        url: "/Turnier/<%= turnier.id %>/Teilnehmer",
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function(data) {
                            //Wenn der letzte Teilnehmer hinzugefügt wurde, generiere Spielplan
                            if(data.length == <%=turnier.Teilnehmeranzahl%>){
                               posteSpielplan();
                        }
                        window.location.reload(true);
                    },
                           statusCode: {
                           409: function() {
                        alert('Es dürfen keine weiteren Teilnehmer hinzugefügt werden.');
                    }
                },
                                           fail: function() {
                    alert('Fehler');
                }
            });
            });

            //Ändert die Daten eines Turnieres
            $('#changeData').submit(function(e) {
                e.preventDefault();

                var austragungszeitraum = $('.austragungszeitraum').val();
                var status = $('.status').val();

                if(!(austragungszeitraum && status)) {
                    alert('Bitte Daten spezifizieren.');
                    return false;
                }

                var formData = {
                    Austragungszeitraum : austragungszeitraum,
                    Status: status
                };

                $.ajax({
                    type: 'PUT',
                    url: '/Turnier/<%= turnier.id %>',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function(data) {

                        $('#changeData').each(function() {
                            this.reset();
                        });

                        $("#austr").text('Austragungszeitraum: '+data.Austragungszeitraum);
                        $("#stat").text('Status: '+data.Status);
                    },
                    fail: function() {
                        alert('Fehler');
                    }
                });
            });
            });


            //Ruft die Ligatabelle ab 
            function rufeLigatabelleAb(){

                //Setze GET auf Ligatabellenressource des Dienstnutzers ab
                $.ajax({
                    type: 'GET',
                    url: "/Turnier/<%= turnier.id %>/Ligatabelle",
                    contentType:"application/json",
                    success: function(data) {
                        //Ersetze HTML mit der Ligatabelle, so wird auch der Button ausgeblendet
                        $('#ligatabelle').html(data);
                    },
                    statusCode: {

                    },
                    fail: function() {
                        alert('Fehler');
                    }
                }); 
            }

            //Erstellt den Spielplan ,dies wird gefeuert sobald die Teilnehmerliste gefüllt ist
            function posteSpielplan(){
                //Poste Matches für den Spielplan
                $.ajax({
                    type: 'POST',
                    url: '/Turnier/<%= turnier.id %>/Spielplan',
                    contentType:"application/json",
                    success: function(data) {

                    },
                    statusCode: {

                    },
                    fail: function() {
                        alert('Fehler');
                    }
                }); 
            }

            //Ruft den aktuellen Stand der Turniermatches ab und subscribed beim Liveticker aller dieser Matches, 
            //So können von der Turnierseite aus alle matches beobachtet werden
            function rufeSpielplanAb(){
                //Rufe alle generierten Matches ab
                $.ajax({
                    type: 'GET',
                    url: '/Turnier/<%= turnier.id %>/Match',
                    contentType:"application/json",
                    success: function(data) {
                        $('#spielplan').html(data);
                        subscribeMatches();
                    },
                    statusCode: {

                    },
                    fail: function() {
                        alert('Fehler');
                    }
                });
            }

            //Die Ansicht eines Turnieres bietet einen Liveticker für alle seine Matches, 
            function subscribeMatches(){

                //Faye Client für die Match Subscriptions
                var client = new Faye.Client('http://localhost:8000/faye');

                //Iteriere über alle Matches 
                $(".Match").each(function(index,obj){
                    var element=$(this);
                    var matchURI=element.attr('data-match');
                    var matchId=matchURI.split("/")[1];

                    //Subscribe beim Match Liveticker
                    var subscription = client.subscribe('/liveticker/'+matchId, function(message) {

                        $("#SpielstandT1").html(message.SpielstandT1);
                        $("#SpielstandT2").html(message.SpielstandT2);

                        if(message.Winner) {  
                            $("#sieger").html("<a href="+message.Winner+"> Sieger </a>");
                        }
                    });
                });
            }

        </script>
    </head>

    <body class="container">
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <div class="row">
                <div class="col-sm-12">

                    <div class="jumbotron">
                        <h1>Turnier <%= turnier.id %></h1>
                        <br />
                        <ul>
                            <li>Anzahl Teilnehmer: <%= turnier.Teilnehmeranzahl %></li>
                            <li> Teamgröße: <%= turnier.Teamgroesse %></li>
                            <li> Typ: <%= turnier.Typ %></li>
                            <% if(turnier.Austragungsort) { %><li> Austragungsort: <a href="<%= turnier.Austragungsort %>"><%= austragungsort.Name %></a></li><% } %>
                            <li id="austr"> Austragungszeitraum: <%= turnier.Austragungszeitraum %></li>
                            <li id="stat"> Status: <%= turnier.Status %></li>
                        </ul> 
                        <br />

                        <div class="row">
                            <div class="col-md-6">
                                <p>Liste der Teilnehmer: </p>

                                <ul id="users">
                                    <% if (turnierTeilnehmer) { %>
                                    <% for(var i=0; i < turnierTeilnehmer.length; i++) { %>
                                    <% benutzerAll.forEach(function(benutzer) { %>
                                    <% var turnierTeilnehmerId = turnierTeilnehmer[i].split("/"); 
                                                                               if(benutzer.id == turnierTeilnehmerId[2]) { %>
                                    <li><a href="<%= turnierTeilnehmer[i] %>"><%= benutzer.Name %></a></li>
                                    <% } }); }}; %>
                                </ul>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <p> Teilnehmer hinzufügen: </p>
                                <form role="form" action="" method="POST" name="addTeilnehmer" id="addTeilnehmer">
                                    <div class="form-group"><label for="teilnehmer">Teilnehmer:</label><br>

                                        <select id="teilnehmer" class="form-control">
                                            <option value="0">Bitte wählen</option>
                                            <% benutzerAll.forEach(function(benutzer) { %>
                                            <option value="/Benutzer/<%= benutzer.id %>"><%= benutzer.Name %></option>
                                            <% });  %>
                                        </select>
                                    </div>

                                    <input type="submit" class="btn btn-primary" name="send" value="Hinzufügen" /></form>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <p> Turnierdaten ändern: </p>
                                <form role="form" action="" method="POST" name="changeData" id="changeData"><div class="form-group"><label for="austragungszeitraum">Austragungszeitraum:</label><br><input type="text" class="austragungszeitraum form-control" name="austragungszeitraum"></div><div class="form-group"><label for="status">Status:</label><input type="text" class="status form-control" name="status"></div>
                                    <input type="submit" class="btn btn-primary" name="change" value="Ändern" /></form>
                            </div>
                        </div>
                        <br />
                        <hr />
                        <h4>Spielplan</h4>
                        <br />

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Team 1</th>
                                    <th>Team 2</th>
                                    <th>Runde</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i < turnier.Spielplan.length; i++) { %>
                                <tr>
                                    <td><%= turnier.Spielplan[i].Team1 %></td>
                                    <td><%= turnier.Spielplan[i].Team2 %></td>
                                    <td><%= turnier.Spielplan[i].Runde %></td>
                                </tr>
                                <% }; %> 
                            </tbody>
                        </table> 


                        <!-- Hier wird asynchron die nachgeladen-->
                        <div class="row" id="spielplan">
                            <input id="rufeSpielplanAb" onclick="rufeSpielplanAb()" class="btn btn-default marginbottom20" value="Spielplan einblenden" type="button" />
                        </div>

                        <!-- Hier wird asynchron die Ligatabelle nachgeladen-->

                        <div class="row" id="ligatabelle">
                            <input type="button" class="btn btn-default marginbottom20" value="Ligatabelle einblenden" onclick="rufeLigatabelleAb()"/>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>