<!--Anzeige für den fertigen Spielplan -->
<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>Matches</th>
                <th>Modus</th>
                <th>Stand</th>
                <th>Sieger</th>
            </tr>
        </thead>
        <tbody id="matches">
           <!-- Wenn die Turniermatches existieren -->
            <% if(turniermatches) { %>
            
              <!-- Für alle Turniermatches -->
                <% for(var i=0; i < turniermatches.length; i++) { %>
                <tr id="<%=turniermatches[i]%>">
                    <!--Fülle die 4 Spalten mit Link zum Match , Modus , Spielstand , Sieger -->
                    <td> <a href="/<%=turniermatches[i]%>">Match <%=i+1%></a> <span id="matchinfo"></span> </td>
                    <td> <%=spielstaende[i].Modus%> </td>
                    <td class="Match" data-match="<%=turniermatches[i]%>"> <span id="SpielstandT1"><%=spielstaende[i].spielstandT1%></span> - <span id="SpielstandT2"><%=spielstaende[i].spielstandT2%></span> </td>
                    <% if(spielstaende[i].Gewinner){ if(spielstaende[i].Gewinner2){ %>
                     <td id="Sieger"> <a href="<%=spielstaende[i].Gewinner%>"><% benutzerAll.forEach(function(benutzer) { %><% if("/Benutzer/"+benutzer.id == spielstaende[i].Gewinner) { %><%= benutzer.Name%><% } }); %></a> , <a href="<%=spielstaende[i].Gewinner2%>"><% benutzerAll.forEach(function(benutzer) { %><% if("/Benutzer/"+benutzer.id == spielstaende[i].Gewinner2) { %><%= benutzer.Name%><% } }); %> </a></td>
                    <% } else {%>
                    <td id="Sieger"><a href="<%=spielstaende[i].Gewinner%>"><% benutzerAll.forEach(function(benutzer) { %><% if("/Benutzer/"+benutzer.id == spielstaende[i].Gewinner) { %><%= benutzer.Name%><% } }); %></a></td>
                    <% } } else{ %>
                    <td id="Sieger"> </td>
                    <% } %>
                </tr>   
                <% }; %>
            <% } %>
        </tbody>
    </table>
</div>
