<!--Anzeige für den fertigen Spielplan -->
<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>Matches</th>
                <th>Modus</th>
                <th>Stand</th>
                <th>Sieger</th>
            </tr>
        </thead>
        <tbody id="matches">
            <% if(turniermatches) { %>
                <% for(var i=0; i < turniermatches.length; i++) { %>
                <tr>
                    <td> <a href="/<%=turniermatches[i]%>">Match <%=i+1%></a> </td>
                    <td> <%=spielstaende[i].Modus%> </td>
                    <td class="Match" data-match="<%=turniermatches[i]%>"> <span id="SpielstandT1"><%=spielstaende[i].spielstandT1%></span> - <span id="SpielstandT2"><%=spielstaende[i].spielstandT2%></span> </td>
                    <% if(spielstaende[i].Gewinner){%>
                    <td id="sieger"> <a href="<%=spielstaende[i].Gewinner%>"> Sieger</a></td>
                    <% }else{ %>
                    <td id="sieger"> </td>
                    <% } %>
                </tr>   
                <% }; %>
            <% } %>
        </tbody>
    </table>
</div>
